# Unity3D .gitignore file.
#        Store this file at the root of your local repository.
.DS_Store
Library
Temp
*.pidb
*.sln
*.csproj
*.userprefs
*.unityproj
Thumbs.db
Thumbs.db.meta
BUILDS
.tryScene.scene
resolution.conf
SavesDir/
Tools/Steam/ContentBuilder/builder/appcache/
Tools/Steam/ContentBuilder/builder/.crash
Tools/Steam/ContentBuilder/builder/dumps/
Tools/Steam/ContentBuilder/builder/logs/
Tools/Steam/ContentBuilder/output/
Tools/Steam/ContentBuilder/uerdata/
Assets/StreamingAssets/resolution.conf.meta

poolerstats.txt
Assets/StreamingAssets/audioSettings.conf
Assets/StreamingAssets/audioSettings.conf.meta
Assets/StreamingAssets/serializedAnimators.*
.vs/
obj/

lastSession_depth\.csv

lastSession_freq\.csv

lastSession_stats\.txt

Assets/StreamingAssets/SteamCloud/Leaderboards/02_ExtraOspedaliero
Assets/StreamingAssets/SteamCloud/
/UnityTouchTop/images
/UnityTouchTop/Contents
/UnityTouchTop/Config/test
/UnityTouchTop/Config
log_exceptions.txt
log.txt
